{% extends "base/base.html" %}
{% block css %}
<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">
    	{% block hello %}{% endblock %}
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-lg-block d-none"></div>
            <div class="col-lg-8 col-12 px-0">
                {% for category in projects %}
                <a href="{{ url_for('render_category', category=category) }}?language={{ lang }}">
                    <div class="my-4 py-20 home-category-container" style="background: url({{ url_for('static', filename='categories/' + category + '/background.svg')}})">
                        <h2 class="category_heading text-center mb-0" style="text-shadow: 0 0 20px {{ get_category_color(category) }}">
                            {{ get_category_translation(category, lang) }}
                        </h2>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
        
{% endblock %}