@font-face {
	font-family: Oswald;
	font-weight: normal;
	src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
	font-family: Oswald;
	font-weight: 200;
	src: url(../fonts/Oswald/static/Oswald-ExtraLight.ttf);
}
@font-face {
  	font-family: Oswald;
  	font-weight: 300;
  	src: url(../fonts/Oswald/static/Oswald-Light.ttf);
}
@font-face {
  	font-family: Oswald;
  	font-weight: bold;
  	src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
  	font-family: Raleway;
  	font-weight: 200;
  	src: url(../fonts/Raleway/static/Raleway-ExtraLight.ttf);
}
@font-face {
  	font-family: Raleway;
  	font-weight: 300;
  	src: url(../fonts/Raleway/static/Raleway-Light.ttf);
}
@font-face {
  	font-family: Raleway;
  	font-weight: normal;
  	src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}
@font-face {
  	font-family: Raleway;
  	font-weight: bold;
  	src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

h1 {
	font-family: Oswald;
	font-weight: normal;
}

h2 {
	font-family: Oswald;
	font-weight: 300;
}

h3 {
	font-family: Oswald;
	font-weight: 200;
}

h4 {
	font-family: Oswald;
	font-weight: 200;
}

p, li {
	font-family: Raleway;
	font-weight: normal;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.vl {
	border-left: thin solid #212529;
}

