{% from "project_page_template/project_page_template.html" import textbox, heading, subheading, subsubheading %}
{% extends "categories/Software/Utbult-design-site/page.html" %}
{% block heading %}Utbult Design hemsida{% endblock %}
{% block project_title %}Utbult Design hemsida - Sidan du är på{% endblock %}
{% block text_1 %}
{{ textbox("
Min personliga hemsida, Utbult Design, är även ett egengjort projekt. Den bygger på en enkel Python Flask backend för att generera projekt-sidor från Jinja2 templates. Webbutveckling må inte vara en av mina starkare färdigheter/intressen, men med de verktyg jag använder är det en ganska enkel process. Python Flask, Jinja2 och Bootstrap fungerar perfekt i union för att göra en simpel statisk sida, och det är även dessa verktyg jag rekomenderar för den som vill testa på lite enkel webbutveckling.
") }}
{% endblock %}
{% block text_2 %}
{{ heading("Filstruktur") }}
{{ textbox("
Iden kring arkitekturen för projektet är att göra ett enkelt filträds-system där först kategorier sorteras i mappar med en del metadata, och sen mappar i dessa innehållande projekten.
") }}
{% endblock %}
{% block text_3 %}
{{ heading("Jinja2 Templates") }}
{{ textbox("
Alla projekt-sidor är gjorda med hjälp av Jinja2 templates för att generera en uniform stil och för att underlätta skapandet. Sidorna är först extendade från en projekt template där alla stilar för text, rubriker och bilder är definerade till en page.html fil. I denna fil struktureras ordningen i projektetet upp med textblock, bilder och länkar. Sedan extendas denna fil till alla språk projektet ska skrivas på. Då min franska är under all kritik, har jag valt att skriva alla artiklar på svenska och engelska. 

Den här metoden gör att strukturen för ett projekt endast behöver defineras en gång, i page.html filen, istället för att behöva duplikeras för två olika språk.
")}}
{% endblock %}
{% block text_4 %}
{{ heading("Bootstrap") }}
{{ textbox("
Jag vet; Bootstrap. Jag vet att det kanske ser lite väl samma ut som allt annat och att det är något tungt, men det är fruktansvärt smidigt och ser bra ut, så det får gå. Bootstraps snygga navbar struktur och positioneringsfunktioner funkar perfekt för mig, och allt fungerar bra ihop med Jinja2.
") }}
{% endblock %}
