{% from "project_page_template/project_page_template.html" import textbox, heading, subheading, subsubheading %}
{% extends "categories/Software/Utbult-design-site/page.html" %}
{% block heading %}Utbult Design site{% endblock %}
{% block project_title %}Utbult Design site - The site you're on{% endblock %}
{% block text_1 %}
{{ textbox("
My personal site, Utbult, Design, is also a self made project of mine. It employs a simple Python Flask backend which generates project-sites from Jinja2 templates. Webb design might not be one of my stronger suits/interests, but it becomes quite a easy process with the tools I use. Python Flask, Jinja2 and Bootstrap works perfect in union with each other to create a simple static site, and these tools are also the ones I recommend for beginners who want to try out some web design.
") }}
{% endblock %}
{% block text_2 %}
{{ heading("File structure") }}
{{ textbox("
The idea with the architecture for this project is to create a simple file three system where first the categories are sorted in folders with some meta data, and then these contains folders for every project.
") }}
{% endblock %}
{% block text_3 %}
{{ heading("Jinja2 Templates") }}
{{ textbox("
All project-pages are made with the help of Jinja2 templates to create a uniform style and to facilitate the creation of new pages. The pages are firstly extended from a project template where all the styles for text, headings and images are defined to a page.html file. In this file, the order of text blocks, images and links are specified. Then this file is extended to separate files for every translation of the page. As my French isn't all that great, i have chosen to write all projects in Swedish and English.

This method makes it so that the structure of a page only has to been defined once, in the page.html file, instead of having to be duplicated for two different languages.
")}}
{% endblock %}
{% block text_4 %}
{{ heading("Bootstrap") }}
{{ textbox("
I know; Bootstrap. I know it might look a bit same as everything else and it is a bit heavy, but it is really smooth to use and looks good, so it works. Bootstraps nice navbar structure and grid system works great for me, and everything works swimmingly with Jinja2.
") }}
{% endblock %}
