{% from "project_page_template/project_page_template.html" import image, github_link, link %}
{% extends "project_page_template/project_page_template.html" %}

{% block project_content %}
{% block text_1 %}{% endblock %}
{{ github_link('https://github.com/josefutbult-webdevelopment/Utbult-Design-Site') }}
{% block text_2 %}{% endblock %}
{{ image(url_for('static', filename='categories/Software/Utbult-design-site/filetree.png'), 50, 'left') }}
{% block text_3 %}{% endblock %}
{{ image(url_for('static', filename='categories/Software/Utbult-design-site/page-diagram.png'), 75) }}
{% block text_4 %}{% endblock %}
{% endblock %}