{% from "project_page_template/project_page_template.html" import image, github_link, link %}
{% extends "project_page_template/project_page_template.html" %}

{% block project_content %}
{% block text_1 %}{% endblock %}
{{ link('Plexilandia - Triangular Ear Bas', 'https://sites.google.com/site/plexilandia/') }}
{% block text_2 %}{% endblock %}
{% block text_3 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/breadboard.jpeg')) }}
{% block text_4 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/schematic.jpg')) }}
{% block text_5 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/footprint_1.jpg')) }}
{% block text_6 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/image_2.jpeg')) }}
{% block text_7 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/footprint_2.jpg')) }}
{% block text_8 %}{% endblock %}
{{ github_link('https://github.com/josefutbult-music/Triangular-ear-bass-21') }}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/image_3.jpeg')) }}
{% endblock %}
