{% from "project_page_template/project_page_template.html" import textbox, heading, subheading, subsubheading %}
{% extends "categories/Music/Triangular-Ear-Bass/page.html" %}

{% block heading %}Triangular Ear Bass - Moddad{% endblock %}
{% block project_title %}Triangular Ear Bass - Moddad{% endblock %}
{% block text_1 %}
{{ textbox("
Det här är en klon av en mycket vanlig använd och uppskattad preamp pedal för bas, gjord av Diz. Den här versionen är moddad och ritad av mig, men jag rekomenderar starkt att du tar en titt på orginalet innan den här versionen.
") }}
{% endblock %}

{% block text_2 %}
{{ textbox("
Den här preampen bygger på ett drive steg som kan blandas med den rena signalen, ett två bands eq som passar för bas samt ett balanserings steg för att tillåta en XLR utgång. Det jag ändrat är inte egentligen någonting större. Förutom att jag bytt blend potentiometern till en stereo för att få ett renare min/max ljud, har jag bara lagt till en regulator för att kunna driva pedalen på fantommatning över XLR. Regulatorn på den här versionen bör kunna hantera alla standardspänningar för fantommatning upp till 63 V.
") }}
{% endblock %}

{% block text_3 %}
{{ subheading("Krets och test på kopplingsbräde") }}
{{ textbox("
Det första steget jag brukar ta när jag gör en pedal är att rita av kretsen i Eagle. Det är ganska standard; rita upp allt och dubbelkolla värden och kopplingar. Efter det prototypar jag kretsen på ett kopplingsbräde. Tyvärr, då mitt föredetta kopplingsbräde var ganska dåligt och hade några dåliga kopplingar, fick jag inte shape variabeln att fungera. Därför antog jag att denne inte hade någon större effekt på ljuded, och exkluderade därför den potentiometern på den första versionen av PCBn. Senare, när en vän till mig lödde ihop en av PCBerna som jag beställde, fick han shape att fungera igenom att patcha in en shape potentiometer. Läxan jag fick lära mig ännu en gång; använd inte dåliga kopplingsbräden.

Här är den första verisonen byggt på ett kopplingsbräde.
") }}
{% endblock %}

{% block text_4 %}
{{ textbox("
Och här är den uppritade kretsen (en ny version med shape potentiometern tillagd).
") }}
{% endblock %}

{% block text_5 %}
{{ subheading("Version ett av PCBn") }}
{{ textbox("
Här är den första versionen av PCBn. Som du kan se, så är den inte jättebra gjord. För dig som är ny till att rita PCBs rekomederar jag att du försöker placera komponenter så nära deras relativa kopplingar som möjligt, och inte i en hög med rader. Men trots detta fungerade kretsen som den skulle. Anledningen till att den har alla kopplingar på en socket är för att jag hade en ide om att bygga ett semi-modulärt pedalbord, som skulle funka ungefär som ett euro-synth rack. Jag testade faktiskt att bygga detta, men det var inte så ytrymmeseffektivt som jag hade hoppats, så jag övergav den iden.
") }}
{% endblock %}

{% block text_6 %}
{{ textbox("
Och här är den första versionen byggd. Som du kan se så är footprintsen för kondensatorerna för små, men allting fungerade.
") }}
{% endblock %}

{% block text_7 %}
{{ subheading("Version två av PCB") }}
{{ textbox("
På den andra versionen av PCBn fixade jag en massa problem som kom med dennes föregångare. Den har en shape potentiometer, alla komponenter får plats som de ska, och formen på PCBn ändrades till något som skulle få plats i en BB pedal låda. Anledningen till hålet på det undre vänstra hörnet, är för att man ska kunna få plats med ett XLR jack. Jag såg också till att alla komponenter som hör till fantommatning och balansering placerades för sig, så man enkelt kan skippa dessa ifall man inte behöver den funktionaliteten.
") }}
{% endblock %}
{% block text_8 %}
{{ textbox("
Här är den slutgiltliga versionen ihoplödd. Det är lite trångt, men allting fungerar som det ska. Alla Eagle filer för det här projektek finns på min Github om du vill kolla på det eller modifiera något. Jag laddade också upp ett zippat gerber arkiv med allting för att beställa PCBn, om du vill testa att bygga den själv.
") }}
{% endblock %}
