{% from "project_page_template/project_page_template.html" import textbox, heading, subheading, subsubheading %}
{% extends "categories/Music/Triangular-Ear-Bass/page.html" %}

{% block heading %}Triangular Ear Bass Mod{% endblock %}
{% block project_title %}Triangular Ear Bass Mod{% endblock %}
{% block text_1 %}
{{ textbox("
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis magna ligula, vel blandit turpis molestie sit amet. Duis venenatis lacus ullamcorper erat feugiat, non finibus lectus posuere. Quisque quis iaculis odio, ac congue nunc. Suspendisse suscipit tristique massa vitae finibus. Pellentesque et lorem turpis. Morbi fermentum ut dolor sit amet imperdiet. Pellentesque suscipit lobortis dui. Donec finibus est sapien, vitae ornare tellus venenatis id. Aliquam fringilla sit amet tortor ac lacinia. Sed ut maximus leo, eu viverra lectus. Ut lectus enim, tempus placerat varius id, tincidunt ornare lacus. Mauris auctor dui lorem, et maximus massa consectetur id. Integer dignissim sapien magna, varius accumsan risus porttitor ac. Etiam arcu tortor, pretium in diam nec, mattis tempus elit. Nulla maximus ipsum ac purus tristique, at interdum arcu viverra. 
") }}
{% endblock %}

{% block text_2 %}
{{ heading("Start") }}
{{ textbox("
Nullam varius justo sit amet leo posuere, in tincidunt arcu mollis. Quisque aliquam felis sit amet velit imperdiet sodales. Mauris pellentesque feugiat sapien, ut iaculis mi. Maecenas odio libero, euismod at ex id, suscipit feugiat arcu. Morbi laoreet dapibus diam non vehicula. Phasellus efficitur est augue, et dapibus nisi auctor in. Nunc ornare mauris a egestas blandit. Morbi ornare pretium ipsum, at venenatis quam auctor in. Duis dui arcu, ultricies eget dolor in, semper efficitur nibh. In efficitur ante sit amet dapibus mollis. Sed ipsum felis, lobortis non augue eu, molestie mollis quam. Mauris a elit dolor. Ut id elit velit. Nulla ut fermentum nibh. Aenean porttitor erat in condimentum tincidunt. 
") }}
{% endblock %}

{% block text_3 %}
{{ textbox("
Etiam porta nulla non tincidunt suscipit. Suspendisse ullamcorper tortor eget erat faucibus, a volutpat leo pretium. Nunc luctus venenatis lacus, vitae auctor eros mollis a. Integer at semper ante. Integer purus velit, rutrum sed efficitur ut, faucibus vel lorem. Duis non efficitur ipsum. Nulla a lorem a nisi pharetra sagittis. Donec at leo erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed consectetur molestie odio eget euismod. Vestibulum vulputate ante lacus, vel tincidunt leo commodo sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec venenatis enim lorem, eget pretium ante ornare et. Proin tincidunt commodo consectetur. Fusce scelerisque ligula neque, et mollis diam interdum vel. Cras quis maximus nunc. 
") }}
{% endblock %}

{% block text_4 %}
{{ textbox("
Nunc condimentum nulla magna, eu finibus nisl imperdiet in. Cras diam velit, ullamcorper sed sollicitudin at, porttitor vitae turpis. Ut pulvinar maximus est. Vivamus leo magna, interdum a mollis nec, euismod id tortor. Mauris fermentum lectus ultricies ex posuere, pulvinar cursus velit porttitor. Mauris bibendum sapien quis gravida fringilla. Duis faucibus est a lorem facilisis, nec aliquam ex bibendum. Morbi sodales ex vitae venenatis dignissim. Curabitur efficitur, ligula eget tincidunt vestibulum, nibh nisl tincidunt neque, eget tincidunt felis leo sed sem. Morbi venenatis justo nunc, id congue ligula rhoncus quis. Nunc hendrerit nulla et risus volutpat varius. 
") }}
{% endblock %}