{% from "project_page_template/project_page_template.html" import image, github_link %}
{% extends "project_page_template/project_page_template.html" %}

{% block project_content %}
{% block text_1 %}{% endblock %}
{{ github_link('https://github.com/') }}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/image_1.jpeg')) 
}}{% block text_2 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/image_2.jpeg')) }}
{% block text_3 %}{% endblock %}
{{ image(url_for('static', filename='categories/Music/Triangular-Ear-Bass/image_3.jpeg')) }}
{% block text_4 %}{% endblock %}
{% endblock %}
